@import "tailwindcss";

@theme {
  --color-bg-dark: #121212;
  --color-dark-text: #f5f5f5;
  --color-dark-button: #99ef12;
  --color-button: #99ef12;
  --color-text: #3f3f46;
  --color-brand: #A8FF00;
  --font-bungee: var(--font-bungee);
  --font-inter: var(--font-inter);

}

